VITE_SUPABASE_URL=https://mikxrneopcwuldmykswq.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1pa3hybmVvcGN3dWxkbXlrc3dxIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjQ2NDY0MjUsImV4cCI6MjA4MDIyMjQyNX0.COtGA1Ey7fUi2q-3HD8lsQ-EU8jKnitl5ZTo-NDJKAE


VITE_SUPABASE_URL=https://wximnkhcpugfyjshgaim.supabase.co
VITE_SUPABASE_ANON_KEY=

sb_publishable_8qf4pnE0uuVIWEBTPFSKow_mIgk_ZL8